.title {
  line-height: 1.2;
  margin: 0;
  font-family: var(--font);
}

.light {
  color: var(--color-white);
  text-shadow: var(--shadow-hero);
}

.dark {
  color: var(--color-font);
  text-shadow: none;
}