.homeContainer {
  padding: 60px 20px;
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  width: 100%;
}
.cardsWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1200px;
  width: 100%;
}
@media (min-width: 992px) {
  .cardsWrapper {
    flex-direction: row;
    align-items: stretch;
  }
  .cardsWrapper > *:first-child {
    flex: 65;
  }
  .cardsWrapper > *:last-child {
    flex: 35;
    align-self: flex-start;
  }
}