.footer {
  background-color: var(--color-primary); 
  color: var(--color-white);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px; 
}

.left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.divider {
  opacity: 0.5;
}

.right {
  text-align: right;
  line-height: 1.2;
}