.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 20px;
}

.navInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.logoGroup {
  display: flex;
  align-items: center;
  gap: 6px;
}

.brandName {
  font-family: var(--font);
  font-weight: 700;
  font-size: 16px;
  color: var(--color-white);
}

.linksGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: var(--color-primary);
  padding: 8px 16px;
  border-radius: 4px;
  min-height: 40px;
}

.divider {
  display: flex;
  color: var(--color-white);
  align-items: center;
  user-select: none;
}

.logoLink {
  text-decoration: none;
  color: inherit;
}


@media (min-width: 820px) {
  .nav {
    padding: 30px 50px;
  }
  .brandName {
    font-size: 20px; 
  }
  .linksGroup {
    font-size: 16px;
  }
}

@media (min-width: 1440px) {
  .nav {
    padding: 40px 0;
  }
}